.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.selector span {
  cursor: pointer;
}

.selected {
  color: var(--endColor);
}
