.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 150px;
}

.key {
  background-color: var(--background);
  transition: 0.3s;
  flex: 1 1 auto;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.pitch {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.3rem;
  width: 100%;
}

.wrapper button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.75rem;
  font-weight: bolder;
  cursor: pointer;
}

.wrapper span {
  flex-grow: 1;
  text-align: center;
  font-weight: bolder;
}

.playing {
  background-color: var(--backgroundLight);
}

.active {
  background-color: var(--startColor) !important;
}

.latch {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  width: 100%;
  font-weight: bold;
}

.latch button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--endColor);
  transition: background-color 0.3s;
}

.isLatch {
  background-color: var(--startColor) !important;
}
